#navbar { display:flex;
    justify-content:space-around;
    width:100%;
    border: solid 3px purple;
font-size:16pt;} /* make notes of which pages each of these elements belong */
li {
    align-self:center;
    list-style-type:none;
}
#about {margin-top:25px;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;}
header
{margin-top:auto;
display:flex;
justify-content:center;
flex-direction:row;
align-items:center;
font-family: 'Libre Baskerville', serif;
font-size:58pt;
    font color:5B007F;}

#header-image
{height:auto;
width: auto;
align-self: center;
margin-top:}


#about-info {
font-family: 'Montserrat', sans-serif;
font-size: 18pt;
display:flex;
}

#about-info-pt-2 {
font-family: 'Montserrat', sans-serif;
font-size: 18pt;
display:flex;}

#bio {
font-family: 'Montserrat', sans-serif;
font-size:18pt;
display:flex;}

#portfoliowriting
{font-family:'Montserrat', sans-serif;
font-size: 18pt;
display: flex;}

#Writing {
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;}


#WritingH3{
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;
justify-content: center;

}

#Photography {
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;}

#PhotoParagraph
{font-family:'Montserrat', sans-serif;
font-size: 18pt;
display:flex;}

#writinglist
{font-family: 'Montserrat', sans-serif;
font-size: 14pt;
display:flex;
flex-direction: column;
flex-flow: column;
}

#ContactH1
{font-family:'Montserrat', sans-serif;}

#Email
{font-family:'Montserrat', sans-serif;
font color:black;}

#Insta
{font-family:'Montserrat', sans-serif;}

#Twitter
{font-family:'Montserrat', sans-serif;}
