/*Home Page*/
#navbar { display:flex;
    justify-content:space-around;
    width:100%;
    font-size:16pt;}
li {align-self:center;
    list-style-type:none;}
#about {margin-top:25px;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;}
header
{margin-top:auto;
display:flex;
justify-content:center;
flex-direction:row;
align-items:center;
}

#header-image
{display:flex;
height:auto;
width: auto;
align-self: center;}


#about-info {
font-family: 'Montserrat', sans-serif;
font-size: 18pt;
display:flex;
}

#about-info-pt-2 {
font-family: 'Montserrat', sans-serif;
font-size: 18pt;
display:flex;}
/*Home Page End*/

/*About Page*/
#bio {
font-family: 'Montserrat', sans-serif;
font-size:18pt;
display:flex;}

#Abouth2 {
font-family: 'Libre Baskerville', serif;
font-size:24pt;
display:flex;
justify-content:center;}



/*End of About Page*/

/*Portfolio Page*/
#Porth1 {
font-family:'Libre Baskerville', serif;
display:flex;
justify-content:center;
}

#portfoliowriting
{font-family:'Montserrat', sans-serif;
font-size: 18pt;
display: flex;}

#Writing {
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;}

#Photography {
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;}

#PhotoParagraph
{font-family:'Montserrat', sans-serif;
font-size: 18pt;
display:flex;}
/*End of Portfolio Page*/

/*Writing Page*/
#WritingH3{
font-family: 'Libre Baskerville', serif;
font-size: 24pt;
display:flex;
justify-content:center;}

#writinglist
{font-family: 'Montserrat', sans-serif;
font-size: 14pt;
display:flex;
flex-direction: column;



}
/*End of Writing Page*/

/*Photography Page*/
#photopagelayout {display:flex;
justify-content:space-around;}
#Photopage1 {
display:flex;
justify-content:center;

}

/*End of Photography Page*/

/*Contact Page*/
#ContactH1
{font-family:'Libre Baskerville', serif;
display:flex;
justify-content:center;}

#Email
{font-family:'Montserrat', sans-serif;
font color:black;}

#Insta
{font-family:'Montserrat', sans-serif;}

#Twitter
{font-family:'Montserrat', sans-serif;}
/*End of Contact Page*/
